[submodule "external/GMXBuilder"]
	path = external/GMXBuilder
	url = git@github.com:ScanEx/GMXBuilder.git
[submodule "external/GMXCommonComponents"]
	path = external/GMXCommonComponents
	url = git@github.com:ScanEx/GMXCommonComponents.git
[submodule "external/GMXPluginCadatsre"]
	path = external/GMXPluginCadatsre
	url = git@github.com:ScanEx/GMXPluginCadatsre
[submodule "external/GMXPluginGFW"]
	path = external/GMXPluginGFW
	url = git@github.com:ScanEx/GmxPluginGFW.git
[submodule "external/L.ImageOverlay.Pane"]
	path = external/L.ImageOverlay.Pane
	url = git@github.com:ScanEx/L.ImageOverlay.Pane
[submodule "external/Leaflet-GeoMixer"]
	path = external/Leaflet-GeoMixer
	url = git@github.com:ScanEx/Leaflet-GeoMixer
[submodule "external/Leaflet-IconLayers"]
	path = external/Leaflet-IconLayers
	url = git@github.com:ScanEx/Leaflet-IconLayers
[submodule "external/Leaflet.TileLayer.Mercator"]
	path = external/Leaflet.TileLayer.Mercator
	url = git@github.com:ScanEx/Leaflet.TileLayer.Mercator
[submodule "external/Leaflet.gmxBaseLayersManager"]
	path = external/Leaflet.gmxBaseLayersManager
	url = git@github.com:ScanEx/Leaflet.gmxBaseLayersManager
[submodule "external/gmxControls"]
	path = external/gmxControls
	url = git@github.com:ScanEx/gmxControls
[submodule "external/gmxDrawing"]
	path = external/gmxDrawing
	url = git@github.com:ScanEx/gmxDrawing
[submodule "external/leaflet-GIBS"]
	path = external/leaflet-GIBS
	url = git@github.com:aparshin/leaflet-GIBS
[submodule "external/leaflet.markercluster"]
	path = external/leaflet.markercluster
	url = git@github.com:Leaflet/leaflet.markercluster
[submodule "external/winnie-core"]
	path = external/winnie-core
	url = git@github.com:Kosmosnimki/winnie-core.git
